.Code {
    text-align: center;
    background-color: lightcyan;
    width: 15%;
    margin: 0 auto;
}
.Code button {
    margin: 10px;
    padding: 5px 10px;
    font-size: 18px;
    background-color: pink;
    border-radius: 5px;
}


